.plan-coe{
    width: 4%;
}
.doctor{
    background-image: url("https://images.pexels.com/photos/1260727/pexels-photo-1260727.jpeg?auto=compress&cs=tinysrgb&w=800");

font-weight: bolder;
font-size: 1.3rem;
}

.mine-plan{
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}

.plan-h{
    font-weight: bolder;
    font-size: 5rem;
    color: brown;
}


.Text-box{
    display: block;  /* Make Block type */
    margin: auto; 
    width:80%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
}





.Dbtn {
    width: 140px;
    height: 50px;
    background-color: red;
    /* background: linear-gradient(to top, #00154c, #12376e, #23487f); */
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-left: 30%;
    margin-top: 9%;
    margin-bottom: 10%;
    width: 40%;
  }
  
  .Dbtn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .Dbtn:hover .btn-text-one {
    top: -100%;
  }
  
  .Dbtn:hover .btn-text-two {
    top: 50%;
    color: aliceblue;
  }


  .doctornav:hover::after{
    content: '';
    background: orange;
    display: block;
    width: 100%;
    height: 1px;
  }
    
  